
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Recetas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/add">Añadir</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/miembros/logout_user">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/miembros/login_user">Login</a>
          </li>
        {% endif %}
        
      </ul>
    <form action="searchbar" method="get">
      <input type="text" name="search"/>
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    </div>
  </nav>